.register-form {
  max-width: 300px;
}

.register-form-margin {
  margin-bottom: 16px;
}

.register-form-forgot {
  float: right;
}

.register-form-button {
  width: 100%;
}

nz-alert {
  position: absolute;
  top: 10px;
  right: 10px;
}
